
{% extends 'base.html' %}
{% block content %}

<h1>Financial Stock Investment</h1>

<p> This is an web application that allows users to create a portfolio of stocks and track their performance. 
    Users can see quote of a stock. If user decides to add the stock to his/her portfolio, they easily can search the stock in add placeholder and 
    it will save the stock. There is a page for deleting stocks, whenever application user wants to delete, they can able exclude the stock</p>

{% endblock %}
